<ul>
  <% Bookmark.all.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
<body>
  <form action="/bookmark-form">
    <input type="submit" value="Add">
  </form>
</body>